<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <link rel="icon" href="assets/img/burger.ico">

    <title>Eat-Da-Burger App</title>

     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/burger_style.css" rel="stylesheet">
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
      <hr>
      <!-- /container -->
      <footer class=" center footer">
        <div class="container">
          <p> copyright © Eat-Da-Burger App 2019</p>
        </div>
      </footer>
  </body>
</html>