<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    
    <title>Eat-Da-Burger App</title>

     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/burger_style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
  </head>
  <body>
    <center>
      <h1 class="app"> Eat-Da-Burger App</h1>
    </center>
   <center>

      <div>

      {{{ body }}}

      </div>
      <hr>
      </center>
      <!-- /container -->
      <footer class=" center footer">
        <div class="container">
          <p> copyright © Eat-Da-Burger App 2019</p>
        </div>
      </footer>

     
  </body>
</html>