
	    
	    <h1>Eat-Da-Burger App</h1>
	  


	<div class="row">
	    <div class="col-sm-6">

			<br>
			<h2>Burgers Available To Eat!</h2>

			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}

			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit">Devour It!</button>
			        </form>

			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>

	    </div>

	    

  	</div>
	

	
